body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
section{
    height: 100vh;
    border: 2px solid gainsboro;
    border-radius: 20px;
    background-color: azure;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}
img{
    height: 25vh;
    border: 2px dotted yellow;
    border-radius: 30%;
}
footer{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000000;
    color: white;
    width: 100%;
    border: 2px solid gray;
    border-radius: 8px;
}
header section{
    height: 100vh;
    border: 2px solid gainsboro;
    border-radius: 20px;
    background-color: rgb(10, 156, 247);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}
button{
    background-color: white;
    color: black;
    margin: 3px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: color 0.5s linear 0s;
    transition: background-color 0.5s linear 0s;
    transition: transform 0.5s linear 0s;
}
button:hover{
    background-color: blue;
    color: white;
    transform: translateY(-7px);
}
main section h1{
    color: rgb(10, 156, 247);
}
input{
    border: 2px solid lightgrey;
    border-radius: 8px;
    margin: 5px;
}
main button{
    background-color: rgb(10, 156, 247);
    cursor: pointer;
}
main button:hover{
    background-color: rgb(1, 136, 220);
    border: 2px solid lightgray;
}
button a{
    text-decoration: none;
    color: black;
}
divi button{
    position: fixed;
    bottom: 0;
    right: 0;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgb(10, 156, 247);
}
divi a{
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
}